.bin>div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.bin {
    padding: 1em;
    margin: 0em;
    min-height: 300px;
}

.staging {
    padding: 1em;
    margin: 1em;
    min-height: 150px;
    background-color: lightgray;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.left-bin {
    float: left;
}

.right-bin {
    float: right;
}

.obj {
    padding: 0em;
    margin: 0em;
    width: 8rem;
}

.current-card {
    border: 5px solid black;
}

.prev-card>img {
    opacity: 0.6;
}

.robot-video {
    width: 100%;
    height: auto;
}

#next-demo {
    margin-left: auto;
    margin-right: auto;
}

#bin0 {
    background-color: red;
}

#bin1 {
    background-color: orange;
}

.training-text {
    font-size: 1.25rem;
}