.bin>div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.bin {
    padding: 1em;
    margin: 0em;
    min-height: 100%;
}

.staging {
    padding: 0.5em;
    margin: 1em;
    min-height: 5em;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
}

.left-bin {
    float: left;
    padding: 0;
    margin: 0;
}

.right-bin {
    float: right;
    padding: 0;
    margin: 0;
}

.obj {
    padding: 0em;
    margin: 0em;
    width: 85%;
}

.current-card {
    border: 0.2rem solid black;
}

.staging>.current-card {
    width: 50%;
}

#bin0>.current-card {
    width: 45%;
}

#bin1>.current-card {
    width: 45%;
}

.prev-card>img {
    opacity: 0.6;
}

.robot-video {
    width: 100%;
    height: auto;
}

#next-demo {
    margin-left: auto;
    margin-right: auto;
}

#bin0 {
    background-color: red;
}

#bin1 {
    background-color: orange;
}

.training-text {
    font-size: 1.25rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: red;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: red;
}

.video {
    display: none;
    float: right;
    z-index: 9999;
    position: relative;
}

.recording {
    position: absolute;
    z-index: 2;
    color: red;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    display: none;
}

#testVideo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 100px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}

#startButton {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#instructions {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 20px;
}
