.bin>div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.bin {
    padding: 1em;
    margin: 0em;
    min-height: 100%;
}

.staging {
    padding: 0.5em;
    margin: 1em;
    min-height: 5em;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
}

.left-bin {
    float: left;
    padding: 0;
    margin: 0;
}

.right-bin {
    float: right;
    padding: 0;
    margin: 0;
}

.obj {
    padding: 0em;
    margin: 0em;
    width: 85%;
}

.current-card {
    border: 0.2rem solid black;
}

.staging>.current-card {
    width: 50%;
}

#bin0>.current-card {
    width: 45%;
}

#bin1>.current-card {
    width: 45%;
}

.prev-card>img {
    opacity: 0.6;
}

.robot-video {
    width: 100%;
    height: auto;
}

#next-demo {
    margin-left: auto;
    margin-right: auto;
}

#bin0 {
    background-color: red;
}

#bin1 {
    background-color: orange;
}

.training-text {
    font-size: 1.25rem;
}