{% extends "base.html" %} {% block content %}
<h1>Home</h1>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        {% if completed[num_rounds-1][2] %}
        <h3>Study Completed</h3>
        <hr class="my-4">
        <p class="lead">Please enter the following code into MTurk and submit the HIIT</p>
        <p class="lead">
            {{code}}
        </p>
        {% else %}
        <h3>Study Incomplete</h3>
        <hr class="my-4">
        <p class="lead">Please complete the study here.</p>
        <p class="lead">
            <a href="{{ url_for('consent') }}" class="btn btn-primary w-100">Continue</a>
        </p>
        {% endif %}
    </div>

</div>
{% endblock %}